In [1]:
import pandas as pd
import pymongo

In [ ]:
df = pd.read_csv("data.csv")
df.head(3)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1

In [3]:
# Dataframe to be converted to dict for MongoDB
data = df.to_dict(orient='records')

In [5]:
DB_NAME = "Vehicle-Insurance-Data"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://sid8960266720_db_user:8qC62GHFkLOSGMrq@cluster0.y3l7ao2.mongodb.net/?appName=Cluster0"

In [6]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [7]:
# Uploading the data to MongoDB
rec = collection.insert_many(data)

In [ ]:
print(type(rec))